        /* index.css */
        * {
            margin: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* Welcome Section */
        .welcome-section {
            text-align: center;
            padding: 20px;
            background-color: #f8d7da;
            border-bottom: 2px solid #dc3545;
            width: 100%;
        }

        h1 {
            color: #dc3545;
            margin: 0;
        }

        /* DASHBOARD SECTION */
        .dashboard-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            width: 100%;
        }

        h3 {
            color: #dc3545;
            letter-spacing: 1.5px;
            margin-top: 1rem;
            text-align: left;
            width: 100%;
        }

        span {
            background: #dc3545;
            color: #ffffff;
            padding: 8px;
            border-radius: 19px;
            display: inline-block;
            margin-top: 0.5rem;
        }

        .total-supply {
            font-size: 24px;
            font-weight: bold;
        }

        /* Copyright Section */
        .copyright-section {
            text-align: center;
            background-color: #f8d7da;
            padding: 10px;
            margin-top: 20px;
            width: 100%;
        }

        p {
            color: #dc3545;
            margin: 0;
        }

        /* Additional Link Section */
        .additional-link-section {
            margin-top: 10px;
        }

        a {
            color: #dc3545;
            text-decoration: underline;
            cursor: pointer;
        }